.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.start-button {
  margin-top: 250px;
  border: none;
  width: 215px;
  height: 75px;
  font-size: 25px;
  font-family: 'Poppins';
  background-color: #75B9BE;
  border-radius: 3%;
  font-weight: bold;
}

.start-button:hover, .game-button:hover {
  cursor: pointer;
  background-color: #9fd2d6;
}

.game {
  margin-top: 50px;
}

.game-buttons {
  display: flex;
  margin-left: 60px;
}

.game-button {
  width: 215px;
  height: 75px;
  border: none;
  font-size: 25px;
  font-family: 'Poppins';
  background-color: #75B9BE;
  border-radius: 3%;
  font-weight: bold;
}

.stand {
  margin-left: 40px;
}

.hands {
  margin-left: 150px;
}

.hand-card {
  width: 500px;
  height: 600px;
  margin: -100px;
  margin-top: -200px;
  margin-left: -200px;
}

.hand {
  display: flex;
  align-items: baseline;
  margin-bottom: -100px;
}