.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.start-button {
  margin-top: 250px;
  border: none;
  width: 215px;
  height: 75px;
  font-size: 25px;
  font-family: 'Poppins';
  background-color: #75B9BE;
  border-radius: 3%;
}
.start-button:hover{
  cursor: pointer;
  background-color: #9fd2d6;
}

.game {
  margin-top: 200px;
}
